*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

.vscode
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
/PxApi/appsettings.json
/PxApi/appsettings.Development.json
/PxApi/internal-nlog-pxapi.txt
/PxApi/Properties/PublishProfiles
/PxApi/.config/dotnet-tools.json
publish/
PxApi/Logs/
PxApi/Properties/
.github/skills/dotnet-project-handling/SKILL.md
.github/skills/openapi-validation/node_modules/
agent_tmp/
datasource/
